* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    background-color: #EDE9E8;
}




img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -150px;
    width: 50%;
    transform: scale(0.60);
}

