header {
    background: linear-gradient(180deg, #303030 0%, #EDE9E8 100%);    
    width: 100%;
    height: 200px;
}

.navMenu {
  position: relative;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.3em;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 50px;
}

.navMenu a:hover {
  color: #fddb3a;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
}

.navMenu a:nth-child(1):hover ~ .dot {
  transform: translateX(435px);
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  transform: translateX(585px);
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  transform: translateX(785px);
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  transform: translateX(1005px);
  opacity: 1;
}

.navMenu a:nth-child(5):hover ~ .dot {
  transform: translateX(1165px);
  opacity: 1;
}

.navMenu a:nth-child(6):hover ~ .dot {
  transform: translateX(1285px);
  opacity: 1;
}

.navMenu a:nth-child(7):hover ~ .dot {
  transform: translateX(1425px);
  opacity: 1;
}

.line {
  width: revert; 
  height: 59px;  
  border: solid 3px #000;
  border-color: #fcd303 transparent transparent transparent;
  border-radius: 90%/100px 100px 0;
}