header {
    background: linear-gradient(180deg, #303030 0%, #EDE9E8 100%);    
    width: 100%;
    height: 200px;
}

.navMenu {
  position: relative;
  top: -50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.3em;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 50px;
  position: relative;
}

.navMenu a:hover {
  color: #fddb3a;
}

.line {
  width: revert; 
  height: 59px;  
  border: solid 3px #000;
  border-color: #fcd303 transparent transparent transparent;
  border-radius: 90%/100px 100px 0;
}

.headerImg{
  width: 400px;
  margin-left: 30px;
  margin-top: -20px;
}