
body {
    background: linear-gradient(#EDE9E8, #EDE9E8);
  }
  
  .register-box {
    position: relative;
    top: 50%;
    left: 40%;
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: -2 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    max-width: 600px;
  }
  
  .register-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .register-box .user-box {
    position: relative;
  }
  
  .register-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .register-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .register-box .user-box input:focus ~ label,
  .register-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #fff;
    font-size: 15px;
  }
  
  .register-btn {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #8c8c8c00;
    font-size: 16px;
    text-transform: uppercase;
    transition: .5s;
    letter-spacing: 4px;
    width: 320px;
    border-color: #fcd303b5;
    border-style: ridge
  }

  .register-box .register-btn:hover {
    background: #8c8c8c;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #f2f2f2,
                0 0 25px #f2f2f2,
                0 0 50px #f2f2f2,
                0 0 100px #f2f2f2;
  }
  